@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=sawp');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.section_header{
    font-size: 2rem;
    font-weight: 600;
    color:#fff;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    width:100%;
    display:flex;
}
nav{
    max-width: 1200px;
    margin:auto;
    padding:2rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    font-size: 1.5rem;
    font-weight: 600;
    color:#deb887;
}
#cart-icon{
    font-size: 1.8rem;
    cursor:pointer;
    color:#deb887; 
}
.nav_links{
    list-style: none;
    display:flex;
    align-items: center;
    gap:2rem;
}
.link a{
    font-weight: 500;
    color:black;
    transition:0.3s;
}
.link a:hover{
    color:#deb887;
}
.contact 
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://media.cntraveler.com/photos/57ab71fc67fb4fe005321a4b/16:9/w_2560%2Cc_limit/Lobby3-NewYorkEdition-NYC-CRHotelNikolasKoenig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;

}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #d1d1d1;
}
.contact .content p{
    font-weight: 300;
    color: #e1dbd6;
}

.text
{
    color: #ffffff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
}

.container .contactInfo
{
    width: 50%;
    display:flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px;
    display: flex;
}
.icon
{
    width: 40px;
    height: 40px;
    background: #b0aeae;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-top: 10px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #030303;
    flex-direction: column;
    font-weight: 300;
}

.container .containInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fffefe;
}

.contactForm h2
{
    font-size: 30px;
    color: #010101;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
}

@media (max-width:991px)
{
    .contact
    {
        padding:50px;
    }
    .container
    {
        flex-direction: column;
    }
}